.c-amiibo-gallery {
  &__item-container {
    text-decoration: none;

    &:hover {
      .c-amiibo-gallery__img {

        //transform: rotate3d(1, 1, 0, 7rad);
        transform: rotateY(360deg);

      }
    }


  }

  &__item {
    height: 32rem;
    margin: 64px auto;
    text-align: center;
    cursor: pointer;
    position: relative;
  }

  &__img {
    transition: transform .5s ease-in-out;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__caption {
    font-size: 24px;
    margin-top: 16px;
    font-family: "Arial";
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__love-it {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 3rem;
    max-width: 3rem;
    pointer-events: fill;
  }
}
