.c-amiibo-item {
  &__item-container {

    &:hover {
      .c-amiibo-item__img {

        //transform: rotate3d(1, 1, 0, 7rad);
        transform: rotateY(360deg);

      }
    }


  }

  &__item {
    margin: 4rem auto;
    text-align: center;
  }

  &__img {
    transition: transform .5s ease-in-out;
    height: 50rem;

    max-height: 100%;
  }

  &__caption {
    font-size: 5rem;
    margin-top: 1rem;
    font-family: "Arial";
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
  }

}
