.c-text-list {
  &__item {
    margin: 32px auto;
    text-align: center;
    cursor: pointer;
  }


  &__caption {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 16px;
    font-family: "Arial";
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
